HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
src/main/resources/imapServerInfo.dat
src/main/resources/imapState.prop
src/main/resources/userInfo.dat
test/db.lck
test/README_DO_NOT_TOUCH_FILES.txt
test/service.properties
test/log/log.ctrl
test/log/log1.dat
test/log/logmirror.ctrl
test/log/README_DO_NOT_TOUCH_FILES.txt
test/seg0/c10.dat
test/seg0/c101.dat
test/seg0/c111.dat
test/seg0/c121.dat
test/seg0/c130.dat
test/seg0/c141.dat
test/seg0/c150.dat
test/seg0/c161.dat
test/seg0/c171.dat
test/seg0/c180.dat
test/seg0/c191.dat
test/seg0/c1a1.dat
test/seg0/c1b1.dat
test/seg0/c1c0.dat
test/seg0/c1d1.dat
test/seg0/c1e0.dat
test/seg0/c1f1.dat
test/seg0/c20.dat
test/seg0/c200.dat
test/seg0/c211.dat
test/seg0/c221.dat
test/seg0/c230.dat
test/seg0/c241.dat
test/seg0/c251.dat
test/seg0/c260.dat
test/seg0/c271.dat
test/seg0/c281.dat
test/seg0/c290.dat
test/seg0/c2a1.dat
test/seg0/c2b1.dat
test/seg0/c2c1.dat
test/seg0/c2d0.dat
test/seg0/c2e1.dat
test/seg0/c2f0.dat
test/seg0/c300.dat
test/seg0/c31.dat
test/seg0/c311.dat
test/seg0/c321.dat
test/seg0/c331.dat
test/seg0/c340.dat
test/seg0/c351.dat
test/seg0/c361.dat
test/seg0/c371.dat
test/seg0/c380.dat
test/seg0/c391.dat
test/seg0/c3a1.dat
test/seg0/c3b1.dat
test/seg0/c3c0.dat
test/seg0/c3d1.dat
test/seg0/c3e1.dat
test/seg0/c3f1.dat
test/seg0/c400.dat
test/seg0/c41.dat
test/seg0/c411.dat
test/seg0/c421.dat
test/seg0/c430.dat
test/seg0/c441.dat
test/seg0/c451.dat
test/seg0/c461.dat
test/seg0/c470.dat
test/seg0/c481.dat
test/seg0/c51.dat
test/seg0/c60.dat
test/seg0/c71.dat
test/seg0/c81.dat
test/seg0/c90.dat
test/seg0/ca1.dat
test/seg0/cb1.dat
test/seg0/cc0.dat
test/seg0/cd1.dat
test/seg0/ce1.dat
test/seg0/cf0.dat
test/seg0/README_DO_NOT_TOUCH_FILES.txt
derby.log
