.flex-container{
            display: flex;
            margin: 5px;
            border:1px solid lightgray;
            border-radius: 10px;
            background-color: aliceblue;
            font-size: 24px;
        }
        .flex-container.row{flex-direction: row;}
        .flex-container.column{flex-direction: column;}
        .flex-container.row-reverse{flex-direction: row-reverse;}
        .flex-container.column-reverse{flex-direction: column-reverse;}