<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<dev class="flex-container column">
    <div class="row">
    <label> Source IP</label> <input id='sourceServerIp' type='text'  />
    </div>
    <div class="row">
    <label> Source Port</label> <input id='sourceServerPort' type='text' />
    </div>
    <div class="row">
    <label> Target IP</label> <input id='targetServerIp' type='text'  />
    </div>
    <div class="row">
    <label> Target Port </label><input id='targetServerPort' type='text' />
    </div>
    <div class="row">
    <label> Download fodler </label><input id='downloadPath' type='text' />
    </div>
    <button type="button" onclick="printName()" >클릭해 보세요!</button>
<div id='result'></div>
</dev>
<script>
    function printName()  {
      const sourceIP = document.getElementById('sourceServerIp').value;
      const sourcePort = document.getElementById('sourceServerPort').value;

      const targetIP = document.getElementById('targetServerIp').value;
      const targetPort = document.getElementById('targetServerPort').value;


      var httpRequest = new XMLHttpRequest();


      httpRequest.onreadystatechange = () => {
	    	/* readyState가 Done이고 응답 값이 200일 때, 받아온 response로 name과 age를 그려줌 */
		    if (httpRequest.readyState === XMLHttpRequest.DONE) {
			      if (httpRequest.status === 200) {
			    	var result = httpRequest.response;
			    	if ( '-1' == result.code ){
			    	    alert("로그인에 실패 하였습니다. 계정 정보를 다시 확인 해 주시길 바랍니다.");
			    	}else{
			            alert(result.list);
			        }
			      } else {
			        alert('Request Error!');
			      }
		    }
	    };
	    /* Get 방식으로 name 파라미터와 함께 요청 */
	    httpRequest.open('POST', '/inputImapSourceSeverBackend?ip=' + sourceIP +'&port='+sourcePort);
	    /* Response Type을 Json으로 사전 정의 */
	    httpRequest.responseType = "json";
	    /* 정의된 서버에 요청을 전송 */
	    httpRequest.send();
    }

    function imapState(){
    }
</script>
</body>
</html>