<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="column">
    <div class="row">
        <label>Source ID</label> <input id='sourceUserId' type='text' />
    </div>
    <div class="row">
        <label>Source PW</label> <input id='sourceUserPwd' type='password' />
    </div>
    <div class="row">
        <label>Target ID</label> <input id='targetUserId' type='text' />
    </div>
    <div class="row">
        <label>Target PW</label><input id='targetUserPwd' type='password' />
    </div>
    <button type="button" onclick="printName()">클릭해 보세요!</button>
    <div id='result'></div>
</div>


</dev>
<script src="../js/httpSendData.js"></script>
<script>
    async function printName()  {
      const sourceUserId = document.getElementById('sourceUserId').value;
      const sourcePwd = document.getElementById('sourceUserPwd').value;

      const targetUserId = document.getElementById('targetUserId').value;
      const targetPwd = document.getElementById('targetUserPwd').value;

        //사용자 암호는 암호화 필요
        await postData('/inputSourceImapUserInfo?userid=' + sourceUserId + '&pw=' + sourcePwd, {});

        //사용자 암호는 암호화 필요
        await postData('/inputTargetImapUserInfo?sourceUserid='+sourceUserId + '&userid=' + targetUserId + '&pw=' + targetPwd, {});

    }

    function imapState(){
    }
</script>
</body>
</html>